.number-input {
    display: flex;

    &__input {
        flex: 1 1 auto;
    }


    &__action {
        flex: 0 0 auto;

        background: transparent;
        border: 1px solid #808080;

        &--plus {

        }

        &--minus {

        }
    }
}
