.app {

}

.app__header {
    background-color: #2af;
    color: #fff;
}

.timeline {
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
}

.timeline__item {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.timeline__item--good {
    background-color: #32CD32;
}

.timeline__item--bad {
    background-color: #fc3434;
}

.timeline__item::before {
    content: '';
    width: 0;
    height: 5px;
    border-left: 1px solid black;
    top: 0;
    left: 0;
    position: absolute;
}

.timeline__item:last-child::after {
    content: '';
    width: 0;
    height: 5px;
    border-left: 1px solid black;
    top: 0;
    right: 0;
    position: absolute;
}